@model JPP.Domain.Contactpersoon

@{
    ViewBag.Title = "Verwijder contactpersoon";
}

@if (User.IsInRole("Admin"))
{
    


<h2>Contactpersoon verwijderen</h2>

<h3>Ben je zeker dat je deze contactpersoon wilt verwijderen?</h3>
<div>
    <h4>Contactpersoon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naam)
        </dd>

        <dt>
           Straat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.straat)
        </dd>

        <dt>
           Gemeente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gemeente)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
           Telefoon Nr.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefoonNr)
        </dd>

        <dt>
            IP-Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipAddress)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-default" /> |
            @Html.ActionLink("Ga terug", "Index")
        </div>
    }
</div>

}