@model JPP.Domain.Bericht

@{
    ViewBag.Title = "Verwijder bericht";
}

<h2>Verwijderen</h2>

<h3>Ben je zeker dat je deze bericht wilt verwijderen?</h3>
<div>
    <h4>Bericht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naam)
        </dd>

        <dt>
            Onderwerp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onderwerp)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Telefoon nummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefoonNr)
        </dd>

        <dt>
            Bericht inhoud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inhoud)
        </dd>

        <dt>
            Datum verzending
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumVerzending)
        </dd>

        <dt>
            IP Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipAddress)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder" class="btn btn-default" /> |
            @Html.ActionLink("Ga terug", "Index")
        </div>
    }
</div>
