@model JPP.Domain.Bericht

@{
    ViewBag.Title = "Bericht details";
}

<h2>Details</h2>

<div>
    <h4>Bericht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naam)
        </dd>

        <dt>
            Onderwerp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onderwerp)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Telefoon nummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefoonNr)
        </dd>

        <dt>
            Bericht inhoud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inhoud)
        </dd>

        <dt>
            Datum verzending
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumVerzending)
        </dd>

        <dt>
            IP Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipAddress)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index")"><img src="~/Images/page icons/goBack2.png" /> Terug naar de lijst</a>
</p>
