@model PagedList.IPagedList<JPP.Domain.Bericht>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Berichten";
}


@if (Request.IsAuthenticated)
{

    <h2>Berichten</h2>

    <table class="table table-striped">
        <tr class="success">
            <th>
                Id
            </th>
            <th>
                Naam
            </th>
            <th>
                Onderwerp
            </th>
            <th>
                Email
            </th>
            <th>
                Telefoon nummer
            </th>
            <th>
                Bericht inhoud
            </th>
            <th>
                Datum verzending
            </th>
            <th id="settingsLayout">
                Instellingen
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td id="cellFocus">
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.onderwerp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefoonNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.inhoud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datumVerzending)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.id })

                    @if (User.IsInRole("Admin"))
                    {

                        @Html.ActionLink("Verwijder", "Delete", new { id = item.id })
                    }

                </td>
            </tr>
        }

    </table>
    <br />


    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
    <a href="@Url.Action("Index", "Home")"><img src="~/Images/page icons/goBack2.png" alt="ga terug" /></a>

}

