@model JPP.Domain.Recensie

@{
    ViewBag.Title = "Verwijder recensie";
}

<h2>Verwijderen</h2>

<h3>Ben je zeker dat je deze recensie wilt verwijderen?</h3>
<div>
    <h4>Recensie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naam)
        </dd>

        <dt>
            Titel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titel)
        </dd>

        <dt>
            Inhoud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tekst)
        </dd>

        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumPost)
        </dd>

        <dt>
            Rating
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            Gemeente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gemeente)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            IP Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipAddress)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder" class="btn btn-default" /> |
            @Html.ActionLink("Ga terug", "Index")
        </div>
    }
</div>
